.shortener-title {
    font-family: Iosevka;
    margin-bottom: 5%;
}

body {
   background-color: #F8EFD4 !important;
}

.url-form {
    margin: 1em;
}

.url-input {
    width: 50% !important;
}

.shortener-title {
    padding-top: 8%;
    text-align: center;
}

.submit-url {
    background-color: #125D98 !important;
    border-color: #125D98 !important;
}

.card {
    background-color: #EDC988 !important;
    display: flex;
    width: 50%;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
